html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, section, ::after, ::before {
    font: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
}

@font-face {
    font-family: Roboto;
    src: url(../Roboto.ttf);
}

body{
    background: url(../img/background.png);
    margin: 0;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #070B28;
}

/* Nav Styles */

nav {
    margin: 0;
    background: #1C3677;
    height: 65px;
    font-size: 12px;
}

nav img {
    float: left;
    padding-left: 15px;
}

li {
    display: inline-block;
    list-style-type: none;
    float: right;
    padding: 25px 70px 25px 0;
}

a {
    text-decoration: none;
    color: #D3D3D3;
}

a:hover {
    color: #FFF;
    font-size: 16px;
}

/* Content Styles */

div {
    clear: both;
    background: #fff;
}

#no1, #no2, #no3, #no4 {
    border-bottom: #D3D3D3 solid 1px;
}

#no1, #no2, #no3, #no4, #no5 {
    margin: 0 auto;
    width: 80%;
}

#content {
    width: 40%;
    float: left;
    padding: 15px;
    margin-left: 0;
    line-height: 27px;
    text-align: left;
}

article {
    padding-bottom: 15px;
}

h1 {
    margin-top: 15px;
    line-height: 50px;
    font-size: 35px;
}

h2 {
    padding: 5px 0 0 25px;
    font-size: 30px;
}

h3 {
    font-size: 20px;
    padding: 10px 0;
}

h1, h2, h3 {
    color: #1C3677;
    font-weight: bold;
}

img:nth-of-type(1) {
    margin: 15px 0;
}

.img {
    padding-left: 20%;
}

article a {
    width: 8rem;
    background-color: #1C3677;
    margin: 20px 0 20px 400px;
    border: 3px solid #e6e6e6;
    display: block;
    text-align: center;
    padding: 15px 10px;
}


footer {
    padding: 5px;
    color: rgba(0,0,0,0);
}
